* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}


body {
max-width: 1200px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* layout */


.contenitore {
    width: 80%;
    margin: 0 auto;
}


.intestazione {
    height: 100px;
}

.contenitore-logo {
    width: 100px;
    height: 60px;
}

.logo {
    width: 100%;
    height: auto;
    margin-top: 10px;
}


.menu {
    text-decoration: none;
    color: lightgray;
    font-size: 60%;
}



.banner {
    width: 960px;
    height: 400px;
    background-image: url('../img/banner.jpg');
    /* background-color: lightgoldenrodyellow; */
    background-size: cover;
    background-position: center;
    margin: 10px 0;
    border-radius: 5px;
    position: relative;
}

.opacity{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.testo-banner {
    width: 50%;
    color: white;
    font-size: 0.6em;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 30px 70px;
}


.articoli {
    margin: 10px 0 5px;
}


.testo-articoli {
    color: lightgray;
    font-size: 0.6em;
    margin-top: 15px;
}


.titolo-col {
    margin-top: 15px;
}


.titolo {
    margin: 30px 0;
}

.colore-grigio {
    color: lightgray;
    font-size: 0.6em;
}

.col-sx,
.col-dx {
    width: 25%;
    margin: 0 auto;
}

.col-cn {
    width: calc(50% - 20px);
    margin: 0 10px;   
}

[class*="col-"] {
    float: left;
}


[class*="foto-"] {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.foto-sx {
    background-image: url('../img/img-1.jpg');
}

.foto-cn {
    background-image: url('../img/banner-2.jpg');
}

.foto-dx {
    background-image: url('../img/img-3.jpg');
}

.fine-pagina {
    height: 30px;
    font-size: 0.6em;
    text-align: center;
}

.love {
    color: red;
    font-size: 2em;
    margin: 30px 0;
}


